{% extends "upload/base.html" %}
{% block content %}
    
      <div class="jumbotron mt-3 bg-white shadow-lg">
      <article class="media content-section shadow">
        
        <div class="media-body">
      
     
          <h1>File Manager Application</h2>
          
		      <div class="d-flex justify-content-between">
			         <h4>For getting the Directory structure please Login to Admin site using URl /admin</h4>
		      </div>

          <div class="form-group mt-0 pt-0  m-2">          
               <a class="btn btn-outline-primary  btn-d " href="http://127.0.0.1:8000/admin/filer/folder/">Click Here to Go to Directory structure<i class="fa fa-external-link"></i></a>               
          </div>
          
        </div>
      </article>
      </div>   
   
{% endblock content %}
